* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --darkblue: #1c2c3b;
  --yellow: #f4df99;
  --hufflepuff: #809cb5;
  --gryffindor: #9b5b58;
  --slytherin: #a7c4a0;
  --ravenclaw: #bfa5a3;
}
body {
  font-family: "Space Mono", monospace;
  background: url(./grunge-vintage-old-paper-background.jpg);
}

/* ----- H E A D E R -----*/
header {
  display: flex;
  align-items: flex-end;
}
.logo-container {
  margin-left: 50px;
  margin-right: 30px;
  width: 180px;
  height: 370px;
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.logo-container img {
  width: 150px;
}
.logo-container p {
  color: var(--yellow);
  font-size: 14px;
  margin-left: 10px;
  max-width: 150px;
}

/* ----- C A T E G O R I E S -T A B L E S -----*/
.categories-container {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
h3 {
  font-size: 35px;
  font-weight: 400;
}
.categories {
  display: flex;
  justify-content: space-between;
}
.categories li {
  list-style-type: none;
  padding-right: 50px;
}
.table-wrapper {
  max-width: 900px;
  max-height: 650px;
  overflow: auto;
  margin-left: 250px;
  box-shadow: 32px 83px 94px -28px rgb(97 80 55 / 50%);
  margin-bottom: 100px;
}
.table-bg {
  border: 5px solid #e8e0ca;
}
#table {
  font-size: 25px;
  font-family: "Space Mono", monospace;

  width: 100%;
}
.heading {
  margin-bottom: 20px;
}
.head-cell {
  background-color: var(--darkblue);
  color: white;
  font-size: 18px;
  font-weight: 300;
  border-top: 1px solid black;
  border-right: 1px solid white;
  padding: 20px 30px;
  text-align: left;
  position: sticky;
  top: 0;
}
.head-cell[data-action="sort"] {
  cursor: pointer;
}
.head-cell:last-child {
  border-right: none;
}

.body-cell {
  background-color: white;
  color: var(--darkblue);
  padding: 30px;
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
}
.body-cell img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 25px;
}
.body-cell span {
  vertical-align: middle;
}
.body-row {
  margin-bottom: 2px;
  border-bottom: 5px solid rgb(232, 224, 202);
}
#table {
  border-collapse: collapse;
}
.categories-and-houses .categories-container button {
  border-style: none;
  background: transparent;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}
.houses-container {
  margin-bottom: 20px;
}

/* ----- B U T T O N S -----*/
button {
  font-family: "Space Mono", monospace;
  cursor: pointer;
  outline: 0;
  transition: all 0.2s;
}
button img {
  width: 25px;
  margin-left: 5px;
}
button:hover {
  opacity: 80%;
}
.houses-container button {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
}

/* ---------- ALL STUDENTS,  HOVER + ACTIVE ----------*/
.houses-container button.all-students {
  background: linear-gradient(
    90deg,
    rgba(247, 228, 136, 1) 0%,
    rgba(166, 127, 59, 1) 100%
  );
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  /* color: var(--gryffindor); */
  /* background-color: var(--gryffindor);
  color: white; */
}
.houses-container button.all-students:hover {
  background: white;
  color: var(--darkblue);
  border: none;
}
.houses-container button.all-students.active {
  background: white;
  color: black;
  border: none;
}

/* ---------- GRYFFINDOR,  HOVER + ACTIVE ----------*/
.houses-container button.gryffindor {
  background: linear-gradient(
    90deg,
    rgba(247, 228, 136, 1) 0%,
    rgba(166, 127, 59, 1) 100%
  );
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  /* color: var(--gryffindor); */
  /* background-color: var(--gryffindor);
  color: white; */
}
.houses-container button.gryffindor:hover {
  background: var(--gryffindor);
  color: white;
  border: none;
}
.houses-container button.gryffindor.active {
  background: var(--gryffindor);
  color: white;
  border: none;
}

/* ---------- SLYTHERIN,  HOVER + ACTIVE ----------*/
.houses-container button.slytherin {
  background: linear-gradient(
    90deg,
    rgba(247, 228, 136, 1) 0%,
    rgba(166, 127, 59, 1) 100%
  );
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  /* color: var(--slytherin); */
  /* background-color: var(--slytherin);
  color: white; */
}
.houses-container button.slytherin:hover {
  background: var(--slytherin);
  color: white;
  border: none;
}
.houses-container button.slytherin.active {
  background: var(--slytherin);
  color: white;
  border: none;
}

/* ---------- RAVENCLAW,  HOVER + ACTIVE ----------*/
.houses-container button.ravenclaw {
  background: linear-gradient(
    90deg,
    rgba(247, 228, 136, 1) 0%,
    rgba(166, 127, 59, 1) 100%
  );
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  /*  color: var(--ravenclaw); */
  /*  background-color: var(--ravenclaw);
  color: white; */
}
.houses-container button.ravenclaw:hover {
  background: var(--ravenclaw);
  color: white;
  border: none;
}
.houses-container button.ravenclaw.active {
  background: var(--ravenclaw);
  color: white;
  border: none;
}

/* ----------- HUFFLEPUFF,  HOVER + ACTIVE ------------*/
.houses-container button.hufflepuff {
  background: linear-gradient(
    90deg,
    rgba(247, 228, 136, 1) 0%,
    rgba(166, 127, 59, 1) 100%
  );
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  /* color: var(--hufflepuff); */
  /* background-color: var(--hufflepuff);
  color: white; */
}
.houses-container button.hufflepuff:hover {
  background: var(--hufflepuff);
  color: white;
  border: none;
}
.houses-container button.hufflepuff.active {
  background: var(--hufflepuff);
  color: white;
  border: none;
}

/*------------------P R E F E C T S -----------------*/
.categories-container button.prefects {
  /* background-color: var(--darkblue);
  color: white; */
  border: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

/*---------- I N Q U I S I T O R I A L  S Q U A D  ------------*/
.categories-container button.i-squad {
  /* background-color: var(--darkblue);
  color: white; */
  border: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}
.categories-container button.i-squad img {
  width: 31px;
}

/*---------- E X P E L L E D ------------*/
.categories-container button {
  /* background-color: var(--darkblue);
  color: white; */

  border: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

/*---------- S E A R C H  B A R ------------*/
#searchBar {
  border: 1px solid rgba(166, 127, 59, 1);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: var(--darkblue);
}

#searchBar::placeholder {
  color: var(--darkblue);
}

/*---------- M O D A L ------------*/
.modal-background {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: rgba(166, 127, 59, 0.3);*/
  z-index: 1000;
  backdrop-filter: blur(3px);
  animation: appear 0.3s ease-in-out;
}
.modal-background.show {
  opacity: 1;
  pointer-events: auto;
}
#modal {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 0 80px 0px rgb(152 137 110);
}
#modal.hufflepuff .desc-color {
  color: var(--hufflepuff);
}
#modal.slytherin .desc-color {
  color: var(--slytherin);
}
#modal.gryffindor .desc-color {
  color: var(--gryffindor);
}
#modal.ravenclaw .desc-color {
  color: var(--ravenclaw);
}
.modal-upside {
  display: flex;
  align-items: center;
}
.modal-upside img {
  flex-grow: 0.5;
}
.modal-text-up {
  margin: 30px;
}
.modal-text-up .modal-student {
  color: var(--darkblue);
}
.modal-student {
  font-size: 25px;
}
.desc-color {
  font-weight: bolder;
  font-size: 18px;
}
.close-btn {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  font-size: 18px;
}
.modal-downside {
  display: flex;
}
.modal-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 70px;
}
.modal-btns-container button {
  text-align: left;
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

#modal .expelled-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 30px;
}
#modal .expelled-overlay.active {
  display: flex;
}
.modal-downside .iSquadBadge {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.modal-downside .badge {
  width: 150px;
  height: 150px;
}
.iSquadBadge.hidden {
  display: none;
}
